<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Microsoft Graph</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'microsoft.graph.consent' %}" class="pure-menu-link">
      <i class="fa fa-windows"></i>
      Get Consent
    </a>
  </div>
</div>
