{% extends 'dash/base.html' %}

{% block sub_title %}
  Microsoft Graph - Get Consent
{% endblock sub_title %}

{% block sub_heading %}
  Microsoft Graph - Get Consent
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with submit='Get Consent...' aligned=True %}
      <strong>Note</strong>:
      Clicking 'Get Consent...' will take you to a Microsoft login form which
      will ask you to confirm the requested permissions.
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      {% if msgraph_settings %}
        {% if msgraph_settings.tenant_updated_date %}
          <i class="fa fa-info-circle"></i>
          Consent was
          <strong>
            updated
          </strong>
          on
          {{ msgraph_settings.tenant_updated_date|date:'d/m/Y H:i' }}
          by
          {{ msgraph_settings.tenant_updated_by.username }}
          <br>
          <br>
        {% endif %}
      {% endif %}
      <i class="fa fa-info-circle"></i>
      The Redirect URI is:
      <br>
      {{ redirect_uri }}
    </div>
  </div>
{% endblock %}
