{% extends 'dash/base.html' %}

{% block sub_title %}
  Microsoft Graph - Consent
  {% if result %}
    Confirmed
  {% else %}
    Failed
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  Microsoft Graph - Consent
  {% if result %}
    Confirmed
  {% else %}
    Failed
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if result %}
        <i class="fa fa-info-circle"></i>
      {% else %}
        <i class="fa fa-warning"></i>
      {% endif  %}
      {{ message }}
      <br>
      <br>
      <a href="{% url 'project.settings' %}">
        <i class="fa fa-cog" aria-hidden="true"></i>
        Click here to return to settings...
      </a>
    </div>
  </div>
{% endblock %}
