{% extends 'dash/base.html' %}

{% block sub_title %}
  Microsoft Graph - Testing
{% endblock sub_title %}

{% block sub_heading %}
  Microsoft Graph - Testing
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with submit='Run the Test...' aligned=True %}
      <strong>Note</strong>:
      Check the log file for the test output...
    </div>
  </div>
{% endblock %}
